body{
    background: linear-gradient(
        -45deg,
        #bae6fd 0%,
        #bae6fd 50%,
        #e0f2fe 50%,
        #e0f2fe 100%
    );
    
    transition: all 0.3s ease-in-out;
}

dotlottie-player{
    position: absolute;
    top: -6em;
}

.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 700px;
    background: #ffffffcb;
    color: #2d2d2d;
    border-radius: 5px;
    text-align: center;
    padding: 2em;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.success-content h1{
    font-weight: 600;
    z-index: 2;
    text-wrap: nowrap;
    margin-top: 1.5em;
}

.receipt-wrapper{
    display: flex;
    flex-direction: column;
}

.receipt-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}
.receipt-table th, .receipt-table td {
    padding: 12px;
    border: 1px solid #ddd;
}
.receipt-table th {
    background-color: #f2f2f2;
}
.receipt-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.receipt-table tr:hover {
    background-color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}
.receipt-header{
    font-size: 1.5em;
    font-weight: 700;
    color: #2d2d2d;
}

.receipt-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6eafd8d5;
    color: white;
}

.success-contact-info{
    font-size: 0.8em;
    color: #2d2d2d;
    font-style: italic;
    border-top: 2px solid #dadada;
    padding-top: 0.1em;
}

.success-contact-info a{
    color: #6eafd8d5;
    font-weight: 700;
    text-decoration: none;
    
}

.link-home{
    border: 1px solid #6eafd8d5;
    color: #ffffff;
    background: #6eafd8d5;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: 700;
    border-radius: 6px;
    transition: background 0.2s ease-in-out;

}

@media(max-width: 768px){
    .success-content{
        width: 90%;
        height: 90%;
        padding: 1em;
    }
}