.footer-wrap{
    margin-top: 0;
}

.delete-child-confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1em;
        background: linear-gradient(
        -45deg,
        #bae6fd 0%,
        #bae6fd 50%,
        #e0f2fe 50%,
        #e0f2fe 100%
    );
    padding: 1em;
}

.card-delete{
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: #ffffffdc;
    padding: 1.5em;
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
}

.question-header{
    font-weight: bold;
    font-size: 1.2rem;
}

.explanation-header{
    color: #7a818e;
}

.consequences-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.danger-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e11d48;
    background: #ffe4e6;
    font-size: 34px;
    margin: 0 auto;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-bottom: 0.5em;
    transition: all 0.2s ease-in-out;
}

.delete-child-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    
}

.btn-danger,
.btn-secondary{
    width: 100%;
    text-align: center;
}

.btn-danger{
    background: #e11d48;
    color: #ffffff;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-secondary{
    outline: none;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}