.error-content-wrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.error-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}