:root {
    --wave-color-one: #6eafd8;
    --wave-color-two: #034877;
    --wave-color-three: #6eafd8;

    --event-content-bg: rgba(110, 175, 216, 1);
    --event-content-white-bg: rgba(255, 255, 255, 1);
    --event-content-bg-hover: rgba(110, 175, 216, 1);
    --event-content-bg-hover-darker: rgba(3, 72, 119, 0.8);
  }

.wave-wrapper {
    position: absolute;
    top: -0.5em;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
.wave-wrapper svg .path-one {
  fill: var(--wave-color-one);
  opacity: 1;
}

.wave-wrapper svg .path-two {
  fill: var(--wave-color-two);
  opacity: 0.8;
}

.wave-wrapper svg .path-three {
  fill: var(--wave-color-three);
  opacity: 0.5;
}

.info-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.upcoming-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    padding: 2em 0em;
    color: var(--text-color-main);
  }
  
  .upcoming-events-header{
    font-size: 1.5em;
    font-weight: 800;
    color: #ffffff;
  }

.events-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 2em;
    width: 95%;
    justify-content: center;
    align-items: center;
  }

.info-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  backdrop-filter: blur(15px);
  background: transparent;
  width: 350px;
  height: 300px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.info-card:hover{
  transform: scale(1.1);
}

.info-card img{
  width: 100%;
  height: 85%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, height 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.info-card-context{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5em;
    height: 60px;
    z-index: 1;
    background-color: var(--event-content-white-bg);
    color: #000000;
    transition: all 0.2s ease-in-out;
}
.event-name{
  font-size: 1rem;
}
.info-card.expanded{
    width: 500px;
    height: 600px;
    top: 1em;
    z-index: 100;
}
.info-card.expanded .event-name{
  font-size: 1.5rem;
  margin: 0.5em 0;
  text-align: center;
}

.info-card.expanded img{
    height: 30%;
}

.info-card.expanded .info-card-context{
    height: 70%;
    overflow: auto;
    text-align: justify;
    padding: 0.5em;
}
    

.info-card.expanded:hover{
  transform: scale(1);
}


@media (max-width: 768px){
  .upcoming-events{
      padding: 0;
  }

  .upcoming-events-header{
      padding: 1em 0em;
      text-align: center;
      white-space: nowrap;
      color: #034877;
  }
  
  .events-wrapper{
      padding: 0;
  }
  
  .info-card.expanded{
      position: relative;
      width: 90%;
      height: 500px;
      top: 0;
      z-index: 0;
  }

  .info-card:hover{
      transform: scale(1);
    }

}
  
  
  