:root {
  --wave-color-one: #6eafd8;
  --wave-color-two: #034877;
  --wave-color-three: #6eafd8;
  --main-content-bg: rgba(110, 175, 216, 0.6);
  --main-content-bg-hover: rgba(110, 175, 216, 0.9);
  --service-card-bg-hover: rgba(3, 72, 119, 0.6);
  --text-color-main: #ffffff;
}

.main-content-wrapper{
  position: relative;
  margin-top: 0.5em
}

.wave-wrapper {
  position: absolute; /* Position absolute to place it behind */
  top: -0.5em;
  left: 0;
  width: 100%;
  z-index: -1; /* Ensure it's behind other content */
}

.wave-wrapper svg .path-one {
  fill: var(--wave-color-one);
  opacity: 1;
}

.wave-wrapper svg .path-two {
  fill: var(--wave-color-two);
  opacity: 0.8;
}

.wave-wrapper svg .path-three {
  fill: var(--wave-color-three);
  opacity: 0.5;
}

.carousell-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.gallery {
  background: transparent;
  height: 500px;
}

.gallery-cell {
  display: flex;
  flex-direction: column;
  width: 66%;
  height: 500px;
  /* From https://css.glass */
  background: var(--main-content-bg);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  counter-increment: gallery-cell;
  margin-right: 10px;
  transition: background 0.5s ease;
}

.gallery-cell:hover{
  background-color: var(--main-content-bg-hover);
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 500px;
  font-size: 80px;
  color: white;
}

.services-card-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  gap: 5em;
  margin-top: 2em;
}

.service-vl{
  position: absolute;
  border: 66px solid rgba(3, 72, 119, 0.8);
  width: 100%;
  z-index: -1;
}

.service-wrapper{
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  padding: 3em;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  color: var(--text-color-main);
  background: var(--main-content-bg);
  transition: all 0.2s linear;
}

.service-wrapper i{
  font-size: 3em;
  margin-bottom: 0.5em;
  transition: color 0.2s linear;
}

.service-wrapper:hover{
  color: #ffffff;
  background-color: var(--service-card-bg-hover);
}

.service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}

.service-card i{
  font-size: 3em;
  margin-bottom: 0.5em;
}

.service-card.one:hover i,
.service-card.two:hover i,
.service-card.three:hover i{
  color: #ffffff;
}


@media (max-width: 768px) {
  .services-card-list{
    text-align: center;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
  }

  .service-wrapper{
    padding: 2em;
  }

  .service-card i{
    font-size: 2em;
  }
}

