:root {
  --primary-bg-color: #6eafd8;
  --secondary-bg-color: #1b2a2b;
  --text-color: #ffffff;
  --text-color: #ffffff;
  --highlight-color: #294C60;
  --arrow-bg-color: #034877;
}

.nav-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
  padding: 0 2em;
  position: fixed;
  min-height: 98%;
  border-radius: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  width: 4em;
  opacity: 0.75;
  background-color: var(--primary-bg-color);
  transform: translateX(-100%);
  transition: all 0.2s ease-out;
}

.nav-wrapper:hover{
  opacity: 1;
}

.nav-wrapper img {
  width: 60px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  margin-top: 1em;
}

.nav-list-first,
.nav-list-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  list-style-type: none;
}

.nav-list-first {
  margin-top: 1em;
}

.nav-list-second {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
}

.nav-list-first li:nth-child(odd),
.nav-list-second li:nth-child(odd) {
  border-radius: 10px 0 10px 0;
}
.nav-list-first li:nth-child(even),
.nav-list-second li:nth-child(even) {
  border-radius: 0 10px 0 10px;
}

.nav-list-first li,
.nav-list-second li {
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  padding: 0.8em;
  transition: all 0.2s linear;
}

.nav-list-first li:hover,
.nav-list-second li:hover {
  background-color: var(--text-color);
  color: var(--highlight-color);
}

.nav-list-second li:last-child:hover{
  background: none;
}

.nav-list-first li a,
.nav-list-second li a {
  text-decoration: none;
  font-size: 0;
  color: var(--text-color);
}

.nav-list-first li:hover a,
.nav-list-second li:hover a {
  color: var(--highlight-color);
}

.nav-list-first li a svg,
.nav-list-second li a svg,
.menu-label svg,
.logout-btn svg{
  position: relative;
  top: 0.2em;
  margin-right: 0.3em;
  width: 20px;
  fill: var(--text-color);
  aspect-ratio: 1/1;
}

.nav-list-second li a svg{
  top: 0.25em;
}

.logout-btn svg{
  margin-right: 0em;
}

.nav-list-first li:hover svg,
.nav-list-second li:hover svg{
  fill: var(--highlight-color);
}

.menu-label {
  background-color: transparent;
  color: var(--text-color) !important;
  font-weight: bold;
  margin: 0 0.5em;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0;
  width: 25px;
  height: 25px;
  overflow: hidden;
  padding: 0;
}

.arrow-down{
  display: none;
  transition: all 100ms ease-in;
}

.menu-label svg {
  margin-bottom: 0.5em;
  width: 50px;
  fill: var(--text-color);
  aspect-ratio: 1/1;
}

.nav-list-first li:hover .menu-label {
  color: var(--highlight-color) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown input[type="checkbox"] {
  display: none;
}

.dropdown-content {
  position: absolute;
  border-radius: 10px 0;
  background-color: var(--secondary-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 0;
  overflow: hidden;
  top: -13px;
  left: 170px;
  transition: all 0.1s ease-in;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: var(--text-color) !important;
  transition: 0.1s ease-in;
}

.dropdown-content a:hover {
  background-color: var(--text-color);
  color: var(--highlight-color) !important;
  border-radius: 10px 0;
}

.nav-wrapper.expanded {
  gap: 0.1em;
  width: 13em;
  height: 98%;
  z-index: 2;
}

.nav-wrapper.expanded .menu-label {
  font-size: 16px;
  width: auto;
  white-space: nowrap;
  align-items: center;
}

.nav-wrapper.expanded .menu-label svg {
  width: 25px;
  aspect-ratio: 1/1;
  position: relative;
  top: 0.3em;
  margin-right: 0.3em;
}

.nav-wrapper.expanded .nav-list-first li a,
.nav-wrapper.expanded .nav-list-second li a {
  white-space: nowrap;
  font-size: 16px;
}

.nav-wrapper.expanded .arrow-down{
  display: block;
  margin-bottom: 1.4em;
}

.nav-wrapper.expanded .dropdown {
  > label {
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu {
    position: absolute;
    pointer-events: none;
    background-color: #222;
  }
  
  #menu-toggle:checked + .dropdown-content {
    opacity: 1;
    font-size: 16px;
    margin-top: 0.5em;
    height: 85px;
    overflow: visible;
    pointer-events: all;
  }
  
  .arrow-down.rotate {
    transform-origin: center;
    transform: rotate(-90deg);
    top: 10px;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--highlight-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s linear;
}

.fa-solid.fa-lightbulb {color: #b4ae77; margin-left: 0.1em;}

.fa-regular.fa-lightbulb {color: #fff6a7; margin-right: 0.1em;}

.fa-solid.fa-angles-right {
  position: fixed;
  top: 50%;
  left: 5rem;
  padding: 0.5em;
  background: var(--arrow-bg-color);
  transform: translateX(-140%);
  color: white;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
  font-size: 1.5em;
  transition: all 0.2s linear;
}

.fa-solid.fa-angles-right:hover {
  opacity: 1;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

.nav-wrapper.expanded .darkmode-wrapper p{
  font-size: 16px;
}

.nav-wrapper.expanded .checkbox-label{
  width: 60px;
  height: 30px;
  padding: 4px;
}

.nav-wrapper.expanded .checkbox-label .ball{
  width: 24px;
  height: 24px;
  left: 3px;
  top: 3px;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.nav-wrapper.expanded .checkbox:checked + .checkbox-label .ball {
  transform: translateX(30px);
}

.nav-wrapper.expanded .checkbox-label{
  font-size: 20px;
}

.logout-btn{
  outline: none;
  border: none;
  background: none;
  font-size: 0;
  cursor: pointer;
}

.logout-btn svg{
  fill: var(--text-color) !important;
}

.nav-list-second li:hover .logout-btn svg{
  fill: var(--highlight-color) !important;
}

.nav-wrapper.expanded .logout-btn{
  font-size: 16px;
  color: var(--text-color) !important;
  font-weight: bold;
}

.nav-list-second li:hover .logout-btn{
  color: var(--highlight-color) !important;
}

@media (max-width: 768px) {
  .nav-wrapper {
    
  }
}

