.payment-status-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}