.profile-settings-wrapper{
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 1em;
    margin: 1em auto;
    padding: 2em;
    transition: all 0.2s ease-in-out;
}

.profile-picture-placeholder{
    width: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    width: 30%;
}

.select-box {
    position: relative;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
.options {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: -1.6em;
    background-color: #f9f9f9;
    border: 2px solid var(--primary-bg-color);
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.options li {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

.options li:hover { 
    background: var(--primary-bg-color);
    transition: all 0.2s ease-in-out;
}

.input-wrapper{
    background: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.btn-submit{
    margin-top: 0em;
}