:root {
    --primary-bg-color-profile-nav: #6eafd8;
    --secondary-bg-color-profile-nav: #1b2a2b;
    --text-color-profile-nav: #ffffff;
    --highlight-color-profile-nav: #294C60;
  }
  
  .profile-settings-nav-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    padding: 0.5em 2em;
    margin-left: 4.5em;
    margin-top: 6.1em;
    width: 4em;
    opacity: 0.75;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: var(--primary-bg-color-profile-nav);
    transition: all 0.2s ease-out; /* Only transition the transform property */
}

  
  .profile-settings-nav-wrapper:hover{
    opacity: 1;
  }
  
  .profile-link-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2em;
  }
  
  .profile-link-list li {
    font-weight: bold;
    padding: 0.8em;
    transition: all 0.2s ease-out;
  }

  .profile-link-list li:nth-child(odd) {
    border-radius: 10px 0 10px 0;
  }
  .profile-link-list li:nth-child(even) {
    border-radius: 0 10px 0 10px;
  }
  
  .profile-link-list li:hover {
    background: var(--text-color-profile-nav);
  }
  
  .profile-link-list li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0;
    padding: 0.5em;
    border-radius: 0.5em;
    color: var(--text-color-profile-nav);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
  }
  
  .profile-link-list li:hover a {
    color: var(--secondary-bg-color-profile-nav);
  }
  
  .profile-link-list li a svg {
    margin-right: 0.5em;
    width: 20px;
    aspect-ratio: 1/1;
    fill: var(--text-color-profile-nav);
  }
  
  .profile-link-list li:hover svg {
    fill: var(--highlight-color-profile-nav);
  }

  .profile-settings-nav-wrapper.expanded{
        width: 20em;
  }

  .profile-settings-nav-wrapper.expanded .profile-link-list li a{
    font-size: 1em;
  }

  @media (max-width: 768px) {
    .profile-settings-nav-wrapper {
      transform: translateX(-100%);
      padding: 3em 0em;
    }
  }