:root {
    --primary-bg-color: #6eafd8;
    --secondary-bg-color: #1b2a2b;
    --text-color: #ffffff;
    --text-color-black: #000000;
    --highlight-color: #535353;
}

.register-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2em;
    background: transparent;
}

.old-user {
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background: var(--highlight-color);
    color: var(--text-color);
    padding: 2em;
    border-top-right-radius: 2em;

    transition: all 0.2s linear;
}

.old-user .old-user-header {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form {
    flex: 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--primary-bg-color);
    border-bottom-left-radius: 2em;
    max-width: 70%; 
    height: 80vh;
    background-color: #ffffff;
    padding: 2em;

    transition: all 0.2s ease-in-out;
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.form-header a {
    text-decoration: none;
    color: var(--primary-bg-color);
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

.form-header a:hover {
    color: var(--highlight-color);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-text {
    border: none;
    font-size: 1em;
    margin-top: 1em;
    border-bottom: 2px solid var(--primary-bg-color);
    width: 100%;
    padding: 1em;
    padding-left: 1em;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.form-label-username,
.form-label-email,
.form-label-phone,
.form-label-town,
.form-label-password,
.form-label-confirm-password {
    position: relative;
    top: -2.8em;
    padding: 5px;
    color: #ccc;
    background: transparent;
    transition: all 0.2s ease-in-out;
    width: max-content;
    pointer-events: none;
}

.input-wrapper .input-text + .form-label-username,
.input-wrapper .input-text + .form-label-email,
.input-wrapper .input-text + .form-label-phone,
.input-wrapper .input-text + .form-label-town,
.input-wrapper .input-text + .form-label-password,
.input-wrapper .input-text + .form-label-confirm-password{
    padding: 5px;
    color: #ccc;
    font-size: 0.9rem;
    white-space: nowrap;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.input-wrapper .forgotten-pass{
    text-align: end;
    position: relative;
    top: -1em;
    font-size: 14px;
    margin-bottom: 1em;
}
.input-wrapper .forgotten-pass a{
    color: var(--primary-bg-color);
    text-decoration: none;
}

.input-text:focus{
    outline: none;
}

.input-text:focus + .form-label-username,
.input-text:focus + .form-label-email,
.input-text:focus + .form-label-phone,
.input-text:focus + .form-label-town,
.input-text:focus + .form-label-password,
.input-text:focus + .form-label-confirm-password,
.input-text.has-content + .form-label-username,
.input-text.has-content + .form-label-email,
.input-text.has-content + .form-label-phone,
.input-text.has-content + .form-label-town,
.input-text.has-content + .form-label-password,
.input-text.has-content + .form-label-confirm-password{
    transform: translateY(-110%) translateX(0%);
    background-color: #ffffff;
    color: var(--text-color-black);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.additional-fields{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-between;
}

.remember-me{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-bg-color);
    position: relative;
    top: -25px;
}

.input-wrapper-forgotten-pass a{
    color: var(--primary-bg-color);
    text-decoration: none;
    font-size: 14px;
}


.btn-submit,
.btn-register {
    outline: none;
    border: none;
    height: 3em;
    width: 60%;
    background: var(--primary-bg-color);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 10px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.3s ease-in-out;
}

.btn-submit{
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-submit:hover,
.btn-register:hover {
    cursor: pointer;
    box-shadow: none;
}

.btn-register{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;    
}

.more-registers-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.border{
    width: 20em;
    border-bottom: 2px solid var(--primary-bg-color);
}

.more-registers h3{
    position: relative;
    top: 13px;
    width: max-content;
    margin: 0 auto;
    padding: 0 1em;
    background: var(--text-color);
    transition: all 0.2s ease-in-out;
}

.login-info{
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
}

.select-box {
    position: relative;
    display: inline-block;
}
.options {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    margin-top: -1.6em;
    background-color: #f9f9f9;
    border: 2px solid var(--primary-bg-color);
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    z-index: 1;
}
.options li {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.options li:hover { 
    background: var(--primary-bg-color);
    transition: all 0.2s ease-in-out;
}

.fa-eye,
.fa-eye-slash,
.fa-xmark
 {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 0px;
    margin-top: 1em;
    margin-left: 17rem;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fa-eye-slash{
    font-size: 0px;
}

.input-text.has-content .fa-eye{
    font-size: 16px;
}

.input-error{
    position: relative;
    top: -1.4em;
    margin-bottom: -0.5em;
    color: #e23838;
}

@media(max-width: 768px) {
    .register-form-wrapper{
        height: 100%;
        padding: 1em 2em;
    }
    
    .card-wrapper{
        flex-direction: column;
        border-bottom-right-radius: 2em;
        border-top-left-radius: 2em;
        width: 95vw;
    }

    .old-user {
        border-top-right-radius: 0;
        border-bottom-right-radius: 2em;
        flex: 1 1 30%;
        width: 100%;
    }

    .form {
        border-bottom-left-radius: 0;
        border-top-left-radius: 2em;
        width: 100%;
        
    }

    .btn-submit{
        margin-top: -0.5em;
    }
}
