.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.input-text {
    border: none;
    font-size: 1em;
    margin-top: 1em;
    border-bottom: 2px solid var(--primary-bg-color);
    width: 100%;
    padding: 1em;
    padding-left: 1em;
    background: transparent;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}

.form-label {
    position: relative;
    top: -2.8em;
    padding: 5px;
    font-size: 14px;
    color: #ccc;
    background: transparent;
    transition: all 0.2s ease-in-out;
    width: max-content;
    pointer-events: none;
}

.input-wrapper .input-text + .form {
    padding: 5px;
    color: #ccc;
    font-size: 0.9rem;
    white-space: nowrap;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.input-text:focus {
    outline: none;
}

.input-text:focus + .form-label,
.input-text.has-content + .form-label {
    transform: translateY(-110%) translateX(0%);
    color: #234465;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.register-form-wrapper.darkmode .form-label{
    color: var(--text-light);
    transition: all 0.2s ease-in-out;
}

.login-form-wrapper.darkmode .form-label{
    color: var(--text-light);
    transition: all 0.2s ease-in-out;
}

.profile-settings-wrapper.darkmode .form-label{
    color: var(--text-light);
    transition: all 0.2s ease-in-out;
}

.fa-eye,
.fa-eye-slash,
.fa-xmark
 {
    position: absolute;
    right: 1em;
    padding: 0;
    margin: 0;
    font-size: 0px;
    margin-top: 1em;
    margin-left: 17rem;
    z-index: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fa-eye-slash{
    font-size: 0px;
}

.btn-submit,
.btn-register {
    outline: none;
    border: none;
    height: 3em;
    width: 60%;
    background: var(--primary-bg-color);
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 10px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.2s ease-in-out;
}

.btn-submit{
    margin-top: 2em;
    margin-bottom: 2em;
}

.btn-submit:hover,
.btn-register:hover {
    cursor: pointer;
    box-shadow: none;
}

.btn-register{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;    
}