:root {
  --wave-color-one: #6eafd8;
  --wave-color-two: #034877;
  --wave-color-three: #6eafd8;
}

.wave-wrapper {
  position: absolute;
  top: -0.5em;
  left: 0;
  width: 100%;
  z-index: -1;
}

.wave-wrapper svg .path-one {
  fill: var(--wave-color-one);
  opacity: 1;
}

.wave-wrapper svg .path-two {
  fill: var(--wave-color-two);
  opacity: 0.8;
}

.wave-wrapper svg .path-three {
  fill: var(--wave-color-three);
  opacity: 0.5;
}

.voucher-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voucher-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  max-width: 1000px;
  border: 2px solid #8d8d8d;
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  padding: 1em;
}

.voucher-text-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #6eafd8;
}

.main-voucher-wrapper .image-wrapper img {
  width: 200px;
  height: 200px;
}

.main-voucher-wrapper .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.5em;
}

.voucher-information {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-voucher-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.qr-code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code-wrapper{
  margin-right: 2em;
}
.discount {
  font-size: 1.5em;
  font-weight: bold;
  left: 7em;
  background: #6eafd8;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  padding: 0.3em 0.8em;
}

.footer-text {
  text-align: center;
  color: #8d8d8d;
  font-size: 0.9em;
  font-style: italic;
}

.voucher-code {
  font-weight: bold;
  color: #8d8d8d;
  text-align: center;
}

.valid-until {
  font-weight: bold;
}

h1 {
  color: #333;
}
#qr-code {
  width: 300px;
  height: 300px;
  margin-top: 20px;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}
button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {

    .voucher-container{
        padding-top: 1em;
    }

    .voucher-wrapper{
        width: 90%;
        height: auto;
    }

    .main-voucher-wrapper{
        justify-content: center;
        flex-direction: column-reverse;
    }
}
