:root {
    --wave-color-one-dark: #8a8a8a;
    --wave-color-two-dark: #707070;
    --wave-color-three-dark: #464646;
  }

.info-content-wrapper.darkmode .wave-wrapper svg .path-one {
    fill: var(--wave-color-one-dark);
    opacity: 1;
}

.info-content-wrapper.darkmode .wave-wrapper svg .path-two {
    fill: var(--wave-color-two-dark);
    opacity: 0.8;
}

.info-content-wrapper.darkmode .wave-wrapper svg .path-three {
    fill: var(--wave-color-three-dark);
    opacity: 0.5;
}

.info-content-wrapper.darkmode {
  background-color: var(--darkmode-bg);
  color: var(--darkmode-text);
}

.info-content-wrapper.darkmode .info-card.expanded {
  background-color: var(--darkmode-bg);
  color: var(--darkmode-text);
}

.info-content-wrapper.darkmode .upcoming-events{
    background: var(--main-content-bg-dark);
    color: white;
}

.info-content-wrapper.darkmode .upcoming-events-header{
    color: white;
}

.info-content-wrapper.darkmode .info-card-context{
    background: rgba(70, 70, 70, 0.603);
    color: white;
}

.info-content-wrapper.darkmode .info-card img{
    filter: brightness(0.6);
}

.info-content-wrapper.darkmode .info-card:hover img{
    filter: brightness(1);
}

.info-content-wrapper.darkmode .info-card.expanded img{
    filter: brightness(1);
}