:root{
    --footer-bg-darkmode: #292929;
    --footer-text-darkmode: #868686;
    --footer-border-darkmode: #919191;
    --footer-text-header-darkmode: #ffffff;
    --footer-text-hover-darkmode: #ffffff;
    --footer-text-hover-after-darkmode: #802bb9;
}

.footer-wrap.darkmode{
    background: var(--footer-bg-darkmode);
    border-top: 1px solid var(--footer-border);
    transition: all 0.2s linear;
}

.footer-wrap.darkmode .card p{
    color: var(--footer-text-header-darkmode);
}

.footer-wrap.darkmode .card ul li a{
    color: var(--footer-text-darkmode);
}

.footer-wrap.darkmode .card ul li a:hover{
    color: var(--footer-text-hover-darkmode);
}

.footer-wrap.darkmode .fa-facebook-f,
.footer-wrap.darkmode .fa-envelope{
    color: var(--footer-text-darkmode);
}

.footer-wrap.darkmode .fa-facebook-f:hover,
.footer-wrap.darkmode .fa-envelope:hover{
    color: var(--footer-text-hover-darkmode);
}

.footer-wrap.darkmode .copyright-info{
    color: var(--footer-text-darkmode);
    border-top: 1px solid var(--footer-border-darkmode);
}

.footer-wrap.darkmode .vl{
    border: 1px solid var(--footer-border-darkmode);
   
}

.footer-wrap.darkmode .website-creator a i{
    color: var(--footer-text-darkmode);
}

.footer-wrap.darkmode .website-creator a i:hover{
    color: var(--footer-text-hover-darkmode);
}

.footer-wrap.darkmode .card ul li a:after{
    background: var(--footer-text-hover-after-darkmode);
}