:root {
    --main-content-bg-dark: rgba(82, 82, 82, 0.6);
    --main-content-bg-darker: rgba(65, 65, 65, 0.6);
    --main-content-bg-hover-dark-old: rgba(128, 43, 185, 0.8);
    --main-content-bg-hover-dark: rgba(90, 39, 115, 0.7);
    --service-content-link-bg-dark: rgba(82, 82, 82, 1);
    --service-content-bg-hover-dark: rgba(148, 49, 214, 0.7);
    --text-color-main-dark: #ffffff;
    --wave-color-one-dark: #8a8a8a;
    --wave-color-two-dark: #707070;
    --wave-color-three-dark: #464646;
  }

.main-content-wrapper.darkmode .wave-wrapper svg .path-one {
    fill: var(--wave-color-one-dark);
    opacity: 1;
}

.main-content-wrapper.darkmode .wave-wrapper svg .path-two {
    fill: var(--wave-color-two-dark);
    opacity: 0.8;
}

.main-content-wrapper.darkmode .wave-wrapper svg .path-three {
    fill: var(--wave-color-three-dark);
    opacity: 0.5;
}

.main-content-wrapper.darkmode .gallery-cell {
  background: var(--main-content-bg-dark);
  color: var(--text-color-main-dark);
}

.main-content-wrapper.darkmode .gallery-cell:hover {
    background: var(--main-content-bg-hover-dark);
}

.main-content-wrapper.darkmode .service-vl{
    border-color: var(--main-content-bg-darker);
}

.main-content-wrapper.darkmode .service-wrapper{
    background: var(--main-content-bg-dark);
    color: var(--text-color-main-dark);
}

.main-content-wrapper.darkmode .service-wrapper:hover{
    background: var(--main-content-bg-hover-dark);
}

.main-content-wrapper.darkmode .service-wrapper:hover .service-link{
    background: var(--service-content-bg-hover-dark);
}

.main-content-wrapper.darkmode .service-wrapper .service-link:hover{
    background: white;
    color: var(--service-content-bg-hover-dark);
}

.main-content-wrapper.darkmode .service-link{
    background: var(--service-content-link-bg-dark);
    color: var(--text-color-main-dark);
}

