:root {
    --dark-bg: #121212;
    --primary-dark: #525252;
    --lighter-primary-dark: #6e6e6e;
    --text-light: #ffffff;
    --text-dark: #777777;
    --text-hover-purple: #9434d4;
    --text-hover-dark-purple: #2e2e2e;
    --highlight-dark-profile: rgba(90, 39, 115, 0.7);
  }

  .profile-settings-wrapper.darkmode{
    color: var(--text-light);
  }

  .profile-settings-wrapper.darkmode .profile-settings-nav ul li a{
    color: var(--text-light);
  }

  .profile-settings-wrapper.darkmode .profile-settings-nav ul li a::after{
    background: var(--text-hover-purple);
  }

  .profile-settings-wrapper.darkmode .responsive-table .table-row{
    background: var(--primary-dark);
    color: var(--text-light);
  }

  .profile-settings-wrapper.darkmode .form-label {
    color: var(--text-light);
    transition: all 0.2s ease-in-out;
}

.profile-settings-wrapper.darkmode .input-text{
    color: var(--text-light);
    border-bottom: 2px solid var(--text-light);
}

.profile-settings-wrapper.darkmode .input-text:focus{
    border-bottom: 2px solid var(--text-hover-purple);
}

  .profile-settings-wrapper.darkmode .responsive-table .table-header{
    background: var(--text-dark);
    color: var(--text-light);
  }

  .profile-settings-wrapper.darkmode .responsive-table .table-row:hover{
    background: var(--lighter-primary-dark);
  }

  .profile-settings-wrapper.darkmode .btn-submit,
  .profile-settings-wrapper.darkmode .btn-add-child,
  .profile-settings-wrapper.darkmode .btn-edit-child{
    background: var(--text-light);
    color: var(--text-hover-dark-purple);
  }

  .profile-settings-wrapper.darkmode .btn-submit:hover,
  .profile-settings-wrapper.darkmode .btn-add-child:hover,
  .profile-settings-wrapper.darkmode .btn-edit-child:hover{
    background: var(--text-hover-purple);
    color: var(--text-light);
  }

  .profile-settings-wrapper.darkmode .btn-delete-child{
    background: rgb(189, 0, 0);
  }